# Module 3 Practice - Python Fundamentals
## power iteration of sequences

<font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- Iterate through Lists using **`for`** and **`in`**
- Use **`for` *`count`* `in range()`** in looping operations  
- Use list methods **`.extend()`, `+, .reverse(), .sort()`**  
- convert between lists and strings using  **`.split()`** and **`.join()`**
- cast strings to lists **/** direct multiple print outputs to a single line.  ** `print("hi", end='')`**

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1</B></font>
##  list iteration: `for in`
### `for item in list:`

In [1]:
# [ ] print out the "physical states of matter" (matter_states) in 4 sentences using list iteration
# each sentence should be of the format: "Solid - is state of matter #1" 
matter_states = ['solid', 'liquid', 'gas', 'plasma']

number = 1
for item in matter_states:
    print(f"{item.title()} - is state of matter #{number}")
    number += 1

Solid - is state of matter #1
Liquid - is state of matter #2
Gas - is state of matter #3
Plasma - is state of matter #4

In [2]:
# [ ] iterate the list (birds) to see any bird names start with "c" and remove that item from the list
# print the birds list before and after removals
birds = ["turkey", "hawk", "chicken", "dove", "crow"]

print(f"birds before = {birds}")
for bird in birds:
    if bird.lower().startswith("c"):
        birds.remove(bird)
print(f"birds after = {birds}")

birds before = ['turkey', 'hawk', 'chicken', 'dove', 'crow']
birds after = ['turkey', 'hawk', 'dove']

In [3]:
# the team makes 1pt, 2pt or 3pt baskets
# [ ] print the occurace of each type of basket(1pt, 2pt, 3pt) & total points using the list baskets
baskets = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]

ones = 0
twos = 0
threes = 0
total = 0
for item in baskets:
    total += item
    if item == 1:
        ones += 1
    elif item == 2:
        twos += 1
    elif item == 3:
        threes += 1
print(f"1pts = {ones}")
print(f"2pts = {twos}")
print(f"3pts = {threes}")
print(f"total = {total}")

1pts = 4
2pts = 8
3pts = 3
total = 29

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>
##  iteration with `range(start)` & `range(start,stop)`

In [4]:
# [ ] using range() print "hello" 4 times


for number in range(4):
    print("hello")

hello
hello
hello
hello

In [5]:
# [ ] find spell_list length
# [ ] use range() to iterate each half of spell_list  
# [ ] label & print the first and second halves
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

list_length = len(spell_list)
half_index = int(list_length/2)
print("First half:")
for number in range(half_index):
    print(spell_list[number])
print()
print("Second half:")
for number in range(half_index, list_length):
    print(spell_list[number])

First half:
Tuesday
Wednesday
February

Second half:
November
Annual
Calendar
Solstice

In [6]:
# [ ] build a list of numbers from 20 to 29: twenties 
# append each number to twenties list using range(start,stop) iteration
# [ ] print twenties
twenties = []

for number in range(20, 30):
    twenties.append(number)
print(twenties)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
# [ ] iterate through the numbers populated in the list twenties and add each number to a variable: total
# [ ] print total
total = 0

In [7]:
# check your answer above using range(start,stop)
# [ ] iterate each number from 20 to 29 using range()
# [ ] add each number to a variable (total) to calculate the sum
# should match earlier task 
total = 0

for number in twenties:
    total += number
print(f"total = {total}")

total = 245

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>
##  iteration with `range(start:stop:skip)`

In [8]:
# [ ] create a list of odd numbers (odd_nums) from 1 to 25 using range(start,stop,skip)
# [ ] print odd_nums
# hint: odd numbers are 2 digits apart

total = 0
for number in range(20, 30):
    total += number
print(f"total = {total}")

total = 245

In [9]:
# [ ] create a Decending list of odd numbers (odd_nums) from 25 to 1 using range(start,stop,skip)
# [ ] print odd_nums,  output should resemble [25, 23, ...]


odd_nums = []
for number in range(25, 0, -2):
    odd_nums.append(number)
print(odd_nums)

[25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [10]:
# the list, elements, contains the names of the first 20 elements in atomic number order
# [ ] print the even number elements "2 - Helium, 4 - Beryllium,.." in the list with the atomic number
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']

for number in range(0, len(elements), 2):
    print(f"{number + 2} - {elements[number + 1]}")

2 - Helium
4 - Beryllium
6 - Carbon
8 - Oxygen
10 - Neon
12 - Magnesium
14 - Silicon
16 - Sulfur
18 - Argon
20 - Calcium

In [11]:
# [ ] # the list, elements_60, contains the names of the first 60 elements in atomic number order
# [ ] print the odd number elements "1 - Hydrogen, 3 - Lithium,.." in the list with the atomic number elements_60
elements_60 = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', \
 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', \
 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', 'Potassium', 'Calcium', 'Hydrogen', \
 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', \
 'Argon', 'Potassium', 'Calcium', 'Scandium', 'Titanium', 'Vanadium', 'Chromium', 'Manganese', \
 'Iron', 'Cobalt', 'Nickel', 'Copper', 'Zinc', 'Gallium', 'Germanium', 'Arsenic', 'Selenium', \
 'Bromine', 'Krypton', 'Rubidium', 'Strontium', 'Yttrium', 'Zirconium']

for number in range(0, len(elements_60), 2):
    print(f"{number + 1} - {elements_60[number]}")

1 - Hydrogen
3 - Lithium
5 - Boron
7 - Nitrogen
9 - Fluorine
11 - Sodium
13 - Aluminum
15 - Phosphorus
17 - Chlorine
19 - Potassium
21 - Hydrogen
23 - Lithium
25 - Boron
27 - Nitrogen
29 - Fluorine
31 - Sodium
33 - Aluminum
35 - Phosphorus
37 - Chlorine
39 - Potassium
41 - Scandium
43 - Vanadium
45 - Manganese
47 - Cobalt
49 - Copper
51 - Gallium
53 - Arsenic
55 - Bromine
57 - Rubidium
59 - Yttrium

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 4</B></font>
## combine lists with `+` and `.extend()`

In [13]:
# [ ] print the combined lists (numbers_1 & numbers_2) using "+" operator
numbers_1 = [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

# pythonic casting of a range into a list
numbers_2 = list(range(30,50,2))

print("numbers_1:",numbers_1)
print("numbers_2",numbers_2)

print("all_numbers:", numbers_1 + numbers_2)

numbers_1: [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
numbers_2 [30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
all_numbers: [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [14]:
# [ ] print the combined element lists (first_row & second_row) using ".extend()" method
first_row = ['Hydrogen', 'Helium']
second_row = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

print("1st Row:", first_row)
print("2nd Row:", second_row)

first_row.extend(second_row)
print("All Rows:", first_row)

1st Row: ['Hydrogen', 'Helium']
2nd Row: ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
All Rows: ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

## Project: Combine 3 element rows
Choose to use **"+" or ".extend()" **to build output similar to   

```
The 1st three rows of the Period Table of Elements contain:
['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

The row breakdown is
Row 1: Hydrogen, Helium
Row 2: Lithium, Beryllium, Boron, Carbon, Nitrogen, Oxygen, Fluorine, Neon
Row 3: Sodium, Magnesium, Aluminum, Silicon, Phosphorus, Sulfur, Chlorine, Argon
```

In [15]:
# [ ] create the program: combined 3 element rows 

elem_1 = ['Hydrogen', 'Helium'] 
elem_2 = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
elem_3 = ['Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

print("The 1st three rows of the Period Table of Elements contain:")
print(elem_1 + elem_2 + elem_3)

The 1st three rows of the Period Table of Elements contain:
['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

In [16]:
# [ ] .extend() jack_jill with "next_line" string - print the result
jack_jill = ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill']
next_line = ['To', 'fetch', 'a', 'pail', 'of', 'water']

jack_jill.extend(next_line)
print(jack_jill)

['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 5</B></font>
## .reverse() : reverse a list in place

In [18]:
# [ ] use .reverse() to print elements starting with "Calcium", "Chlorine",... in reverse order
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']

elements.reverse()
for element in elements:
    print(element)

Calcium
Potassium
Argon
Chlorine
Sulfur
Phosphorus
Silicon
Aluminum
Magnesium
Sodium
Neon
Fluorine
Oxygen
Nitrogen
Carbon
Boron
Beryllium
Lithium
Helium
Hydrogen

In [19]:
# [ ] reverse order of the list... Then print only words that are 8 characters or longer from the now reversed order
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]


spell_list.reverse()
for spell in spell_list:
    if len(spell) >= 8:
        print(spell)

Solstice
Calendar
November
February
Wednesday

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 6</B></font>
## .sort() and sorted()

In [20]:
# [ ] sort the list element, so names are in alphabetical order and print elements
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']

elements.sort()
print(elements)

['Aluminum', 'Argon', 'Beryllium', 'Boron', 'Calcium', 'Carbon', 'Chlorine', 'Fluorine', 'Helium', 'Hydrogen', 'Lithium', 'Magnesium', 'Neon', 'Nitrogen', 'Oxygen', 'Phosphorus', 'Potassium', 'Silicon', 'Sodium', 'Sulfur']

In [21]:
# [ ] print the list, numbers, sorted and then below print the original numbers list 
numbers = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]

old_numbers = str(numbers)
numbers.sort()
print(f"numbers sorted: {numbers}")
print(f"original numbers: {old_numbers}")

numbers sorted: [1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3]
original numbers: [2, 2, 2, 1, 2, 1, 3, 3, 1, 2, 2, 2, 2, 1, 3]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 7</B></font>
## Converting a string to a list with `.split()`

In [22]:
# [ ] split the string, daily_fact, into a list of word strings: fact_words
# [ ] print each string in fact_words in upper case on it's own line
daily_fact = "Did you know that there are 1.4 billion students in the world?"

fact_words = daily_fact.split()
for item in fact_words:
    print(item.upper())

DID
YOU
KNOW
THAT
THERE
ARE
1.4
BILLION
STUDENTS
IN
THE
WORLD?

In [24]:
# [ ] convert the string, code_tip, into a list made from splitting on the letter "o"

code_tip = "always save your notebook!"
code_list = code_tip.split("o")
for item in code_list:
    print(item)

always save y
ur n
teb

k!

In [25]:
# [ ] split poem on "b" to create a list: poem_words
# [ ] print poem_words by iterating the list
poem = "The bright brain, has bran!"

poem_words = poem.split("b")
for item in poem_words:
    print(item)

The
right
rain, has
ran!

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 8</B></font>
## `.join()`
### build a string from a list

In [26]:
# [ ] print a comma separated string output from the list of Halogen elements using ".join()"
halogens = ['Chlorine', 'Florine', 'Bromine', 'Iodine']

print(", ".join(halogens))

Chlorine, Florine, Bromine, Iodine

In [27]:
# [ ] split the sentence, code_tip, into a words list
# [ ] print the joined words in the list with no spaces in-between
# [ ] Bonus: capitalize each word in the list before .join()
code_tip ="Read code aloud or explain the code step by step to a peer"

code_list = code_tip.split()
for number in range(len(code_list)):
    code_list[number] = code_list[number].title()
print("".join(code_list))

ReadCodeAloudOrExplainTheCodeStepByStepToAPeer

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 8</B></font>  
## `list(string)` & `print("hello",end=' ')`

- **Cast a string to a list** 
- **print to the same line**

In [28]:
# [ ] cast the long_word into individual letters list 
# [ ] print each letter on a line
long_word = 'decelerating'

long_list = list(long_word)
for item in long_list:
    print(item)

d
e
c
e
l
e
r
a
t
i
n
g

In [47]:
# [ ] use use end= in print to output each string in questions with a "?" and on new lines
questions = ["What's the closest planet to the Sun", "How deep do Dolphins swim", "What time is it"]

for item in questions:
    print(item, end = "?\n")

What's the closest planet to the Sun?
How deep do Dolphins swim?
What time is it?

In [48]:
# [ ] print each item in foot bones 
#    - capitalized, both words if two word name
#    - separated by a comma and space
#    - and keeping on a single print line
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]

for item in foot_bones:
    print(item.title(), end = ", ")

Calcaneus, Talus, Cuboid, Navicular, Lateral Cuneiform, Intermediate Cuneiform, Medial Cuneiform,

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; © 2017 Microsoft